<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/cs/estilos.css}">

    <title>Mi App</title>
</head>
<body>

<h1>Registro simple</h1>

<form action="/saludar" method="post">
    <input type="text" name="nombre" placeholder="Tu nombre">
    <button type="submit">Enviar</button>
</form>

<p th:text="${respuesta}"></p>
<h2>Usuarios registrados</h2>

<ul>
    <li th:each="u : ${usuarios}"
        th:text="${u.nombre}">
    </li>
</ul>
</body>
</html>
